.homePageHeader-container {
  width: 100%;
  // min-height: 370px;
  height: 370px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
  background-size: cover;
  // background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;

  h1 {
    font-size: 45px;
    margin-bottom: .25em;
    @include mobile {
      font-size: 35px;
    }
  }

  p {
    font-size: 18px;
    margin-bottom: .25em;
  }

  .button-link {
    // background: purple;
    text-align: center;

    &:hover {
      // background: plum;
    }
  }
  
  > div {
    padding: 10px;
  }

  @include mobile {
    height: 250px;
    justify-content: center;
    text-align: center;
  }
}


