
.icon-header {
  height: 220px;
  width: 220px;
  background-color: pink;
  box-shadow: 5px 10px 5px #1e1f1e;

  @include mobile {
    height: 190px;
    width: 190px;
  }
}

.icon-album {
  height: 180px;
  width: 180px;
  // background-color: orange;

  @include mobile {
    height: 200px;
    width: 200px;
  }
}

.icon-container {
  display: flex;
  justify-content: center;
}

.hold-albums {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  
  @include mobile {
    flex-flow: row wrap;
  }

  color: white;
  padding-top: 20px;
  margin: 0 auto;
  justify-content: center;

  // .HomePageIcon-container {
    >div {
    // width: 20%;
    padding: 10px;
    display: flex; 
    flex-basis: calc(50% - 40px);  
    justify-content: center;

     @include mobile {
      flex-grow: auto;
      flex-basis: auto;
      padding: 0;
      width: 50%;
      padding-bottom: 10px;
      justify-content: flex-start;
     }

    .text {
      //text-align: center;
      padding-top: 5px;
      width: 100%;

      p {
        line-height: 1.25;
      }

      @include mobile {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      h3 {
        font-weight: 500;
        font-size: 18px;
        text-align: center;

        @include mobile {
          // font-size: 18px;
          text-align: left;
        }
      }

      p {
        color: $grey;
        font-size: 16px;
        text-align: center;

        @include mobile {
          // font-size: 16px;
          text-align: left;
        }
      }

    }

    @include mobile {
      width: 100%;
      display: flex;
      
      .text {
        padding-top: 0;
        // padding-left: 5px;
      }
    }
  }

  h3 {
    font-weight: 300;
  }
}

.discover-container {
  .text {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    .icon-container {
      margin: 10px;
    }
  }
}

#ultimate, #top-hits, #good-vibes, #discover, 
#erongo, #vanessography, #idday {
  .icon-album, .icon-header {
    background-size: contain;
    background-position: center;
    transition: transform .25s ease;

    &:hover {
      transform: scale(1.02);
    }
   }
}

#ultimate {
  .icon-album, .icon-header {
    background-image: url('../../Images/albums/ultimate-app.svg');
  }
}

#top-hits {
  .icon-album, .icon-header {
    background-image: url('../../Images/albums/top-hits.svg');
  }

  @include mobile {
    >div {
      flex-flow: row-reverse;
      .text {
        padding-left: 0;
        padding-right: 15px;
      }
    }
  }
}

#good-vibes {
  .icon-album, .icon-header {
    background-image: url('../../Images/albums/good-vibes.svg');
  }
}

#discover {
  .icon-album, .icon-header {
    background-image: url('../../Images/albums/discover.svg');
  }
  @include mobile {
    >div {
      flex-flow: row-reverse;
      .text {
        padding-left: 0;
        padding-right: 15px;
      }
    }
  }
}

#vanessography {
  .icon-album, .icon-header {
    background-image: url('../../Images/projects/portfolio/vanessography-icon.svg');
    background-size: cover;
  }
}

#idday {
  .icon-album, .icon-header {
    background-image: url('../../Images/projects/idday/idday.svg');
    background-size: cover;
  }
}

#erongo {
  .icon-album, .icon-header {
    background-image: url('../../Images/projects/erongo/erongo.svg');
    background-size: cover;
  }
}

