.top-container {
  .app-content--text {
    .res-heading {
      // color: $green;
    }
  }
}
.resume-role-container .active {
  color: $green;

  .stop {
    display: inline-block;
    color: $green;
  }

  .play {
    display: none;
  }
}

.resume-role-container {
  padding: 10px;

  ul {
    margin-top: 5px;

    li {
      margin-bottom: 3px;
      line-height: 1.5;

      @include mobile {
        padding-left: 1.5em;
      }
    }
  }
  
  strong {
    color: $green;
  }
}

.play-stop {
  color: white;
  margin-right: 10px;
  transition: color .25s ease;

  &:hover {
   color: $green;
  }

  .stop{
    display: none;
  }
}
.role-title-container {
  display: flex;
  // cursor: pointer;
  padding: 2px;
  color: $green;

}

.role {
  display: flex;
  width: 100%;
  .role-title {
    width: 60%;
    
  }
  .role-location {
    font-size: 12px;
    width: 40%;
    text-align: right;
    // margin-left: 100px;
  }
  @include mobile {
    
  }
}

.role-resp {
  margin-left: 20px;
  background: $dark-grey;
  // display: none;
  font-size: 14px;

  @include mobile {
    margin-left: 0;
  }

  p {
    font-size: 14px;
  }

  >div {
    padding: 10px;
  }
}

.role-resp-cont {
  .role-active {
    display: block;
  }
}

.schools {
  // display: flex; 

  >div {
    // width: 50%;
    padding-bottom: 20px;
  }
}

.assistant-prj {
  display: flex;
  justify-content: center;
  text-align: center;
  > a {
    display: inline-block;
    width: 33.3%;
    padding: 5px;
    text-decoration: none;
  }
}
