.this-isheader-container {
  width: 100%;
  min-height: 250px;
  color: white;
}

.thisis-header .homePageHeader-container {
  // background-attachment: fixed;
  background-position: center;
  background-size: cover !important;

  @include mobile {
    min-height: 350px;
  }
}

.thisis-header {
  h1 {
    font-size: 50px;
  }
}
